<!DOCTYPE html>
<html lang="en" class ="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#3e454c">
        <title>Monthly mess bills</title>
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
    </head>
    <body style="">&gt;
        <link rel="stylesheet" href="css/bootstrap-social.css">
        <link rel="stylesheet" href="css/bootstrap-select.css">
        <link rel="stylesheet" href="css/fileinput.min.css">
        <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
        <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.11.3-jquery.min.js"></script>
    <script type="text/javascript" src="js/validation.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
    function valid()
    {
    if(document.registration.password.value!= document.registration.cpassword.value)
    {
    alert("Password and Re-Type Password Field do not match  !!");
    document.registration.cpassword.focus();
    return false;
    }
    return true;
    }
    </script>
    
    
        
    <div class="brand clearfix">
            <a href="/" class="logo" style="font-size:16px;">Hostel Management System</a>
            <span class="menu-btn"><i class="fa fa-bars"></i></span>
            <ul class="ts-profile-nav">
                <li class="ts-account">
                    <a href="#"><img src="img/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Account <i class="fa fa-angle-down hidden-side"></i></a>
                    <ul>
                        <li><a href="/login">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    
        <div class="ts-main-content">
            <nav class="ts-sidebar">
                <ul class="ts-sidebar-menu">
                
                    <li class="ts-label">Main</li>
    <li><a href="/myprofile"><i class="fa fa-user"></i> My Profile</a></li>
    <li><a href="/paymess"><i class="fa fa-file-o"></i>Pay Mess bill</a></li>
    <li><a href="/messtransactions"><i class="fa fa-file-o"></i>My mess bill transcations</a></li>
    <li><a href="/allmonthsbills"><i class="fa fa-file-o"></i>All Months Mess bills</a></li>
    <li><a href="/complaint"><i class="fa fa-file-o"></i>Any complaints</a></li>
    <li><a href="/mealfeedback"><i class="fa fa-file-o"></i>Meal Feedback</a></li>
    <li><a href="/notifications"><i class="fa fa-file-o"></i>Notifications</a></li>
    <li><a href="/studentpassword"><i class="fa fa-files-o"></i>Change Password</a></li>
    
                </ul>
            </nav>		<div class="content-wrapper">
                <div class="container-fluid">
            
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="page-title">All Months bills</h2>
    
                            <div class="row">
                                <div class="col-md-12">
    
    <br>

    
    <div class="panel panel-primary">
    <div class="panel-heading">ALl transactions</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <label class="col-sm-3 ">Month</label>
            <label class="col-sm-3 ">Year</label>
            <label class="col-sm-3 ">Veg</label>
            <label class="col-sm-2 ">Non Veg Amount</label><br>
            <hr style="border: none; border-bottom: 1px solid black;">
            <% for(var i=0;i<result.length;i++){ %>
        <div class="form-group">
            <label class="col-sm-3 "><%=locals.result[i].month%></label>
            <label class="col-sm-3 "><%=locals.result[i].year%></label>
            <label class="col-sm-3 "><%=locals.result[i].veg%></label>
            <label class="col-sm-2 "><%=locals.result[i].nonveg%></label>
        </div><hr>
        <% } %>
        </form>
    </div>
</div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div> 	
                
            
        
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.dataTables.min.js"></script>
        <script src="js/dataTables.bootstrap.min.js"></script>
        <script src="js/Chart.min.js"></script>
        <script src="js/fileinput.js"></script>
        <script src="js/chartData.js"></script>
        <script src="js/main.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                if($(this).prop("checked") == true){
                    $('#paddress').val( $('#address').val() );
                    $('#pcity').val( $('#city').val() );
                    $('#pstate').val( $('#state').val() );
                    $('#ppincode').val( $('#pincode').val() );
                } 
                
            });
        });
    </script>
        <script>
    function checkAvailability() {
    
    $("#loaderIcon").show();
    jQuery.ajax({
    url: "check_availability.php",
    data:'emailid='+$("#email").val(),
    type: "POST",
    success:function(data){
    $("#user-availability-status").html(data);
    $("#loaderIcon").hide();
    },
    error:function (){}
    });
    }
    </script>
    
    </body>
</html>